[submodule "packages/core/lib/forge-std"]
	path = packages/core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/core/lib/hyper-evm-lib"]
	path = packages/core/lib/hyper-evm-lib
	url = https://github.com/hyperliquid-dev/hyper-evm-lib
[submodule "packages/core/lib/boring-vault"]
	path = packages/core/lib/boring-vault
	url = https://github.com/Se7en-Seas/boring-vault
[submodule "packages/core/lib/solady"]
	path = packages/core/lib/solady
	url = https://github.com/vectorized/solady
